#--index-url https://pypi.python.org/simple/
# The line below picks up depencies described in setup.py install_requires. Replace as necessary
# -e .
--pre
wpilib
robotpy
robotpy[commands]
# TODO: cleanup from code --> robotpy-rev-color 
robotpy-wpimath
robotpy-wpiutil
robotpy-cscore
